<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Contact form</p>
    <form action="../controler/conctactform.php" method="post">
        <p>Your name : </p>
        <input type="text" name="name" placeholder="Name">
        <p>Your email : </p>
        <input type="email" name="email" placheholder="****@email.com">
        <p>Subject : </p>
        <input type="text" name="subject" placeholder="Subject">
        <p>The message : </p>
        <textarea name="message" placeholder="Message..."></textarea>
        <button type="submit" name="submit">Send mail</button>
        <p></p>
    </form>
</body>
</html>